<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eat Da Burger</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" type="images/png" href="/assets/img/burger.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>
        <header>
            <div class="row">
                <div class="col s12 center red lighten-1">
                    <h1 class="yellow-text text-lighten-2"><a href="/">Eat Da Burger</a></h1>

                    <div id="mascot">
                        <a href="/eaters">
                            <p class="yellow-text text-lighten-2">Da Burger Eaters</p>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        {{{ body }}}

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="/assets/js/burger.js"></script>
    </body>
</html>