<main class="container">
    <div class="row">
        <div class="col s12 m6">
            <ol class="collection" id="burgers">
                {{#each burgers}}
                    {{#unless devoured}}
                        <li class="collection-item">
                            {{burger_name}}

                            <button class="btn devour red lighten-2 waves-effect waves-red" data-id="{{id}}">
                                Devour It!
                            </button>
                        </li>
                    {{/unless}}
                {{/each}}
            </ol>
        </div>

        <div class="col s12 m6">
            <ol class="collection grey lighten-1" id="devoured">
                {{#each burgers}}
                    {{#if devoured}}
                        <li class="collection-item grey lighten-1 grey-text text-darken-1">
                            {{burger_name}}
                        </li>
                    {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 offset-m3 center">
            <div class="input-field">
                <input placeholder="Hamburger" id="burger-new" type="text" class="validate">
                <label for="burger_new">Enter a burger you want to eat</label>
            </div>

            <button class="btn red lighten-2 waves-effect waves-red" type="submit" id="burger-order">Submit</button>
        </div>
    </div>
</main>